.git
.github
.vscode
.idea
.pytest_cache
.mypy_cache
.ruff_cache
__pycache__
*.py[cod]
*.log
*.pid
*.pid.lock
.coverage
.coverage.*
htmlcov
coverage.xml
tests
venv
env
ENV
.venv
.env
.env.*
dist
build